@charset "utf-8";
/* CSS Document */

.slidebox-01{min-width:1080px;width:100%;height:379px;overflow:hidden;/*position:relative;*/float:left;}
.slidepic-01{/*position:absolute;*/width:9999em;left:0px;}/* 必要元素 */
.slidepic-01 a{min-width:1080px;width:100%;height:379px;overflow:hidden;float:left;display: block;}
.slidepic-01 li{min-width:1080px;width:100%;height:379px;overflow:hidden;float:left;}
.slidebtn-01{/*position:absolute;*/bottom:10px;right:47%;float:right;}
.slidebtn-01 li{border:1px solid #ffffff;cursor:pointer;float:left;font-family:arial;height:18px;line-height:18px;width:18px;margin:4px;text-align:center;color:#D00000;border-radius:50%;}
.slidebtn-01 li.current{background:#ffffff;height:18px;line-height:18px;width:18px;color:#fff;font-weight:800;border-radius:50%;}
.tanc{float:left;width:100%;position:relative;}
.slidebtn-02{position:absolute;right:17px;top:79px;width:399px;height:246px;background:#000;filter:alpha(opacity=30); -moz-opacity:0.3; -khtml-opacity: 0.3; opacity: 0.3;border-radius:3px;}
.slidebtn-03{position:absolute;right:0px;top:98px;width:366px;height:208px;text-align:left;color:#779ab5;font-size:14px;}
.slidebtn-03 p{float:left;width:100%;height:35px;line-height:35px;  color: #fff;}
.slidebtn-03 p a{ text-decoration:underline;color:#ecd940;}
.slidebtn-03 p a:hover{color:#ede49f;}
.slidebtn-03 p button{float:right;border:0px;*margin-top:-35px;height:41px;line-height:41px;text-align:center;width:123px;margin-right:35px;background:#fea701;border-radius:3px;font-size:16px;font-weight:bold;cursor:pointer;color:#fff;}
.slidebtn-03 p button:hover{background:#FAB32C;}
.slidebtn-03 p .button{float:right;border:0px;*margin-top:-35px;height:41px;line-height:41px;text-align:center;width:123px;margin-right:35px;background:#fea701;border-radius:3px;font-size:16px;font-weight:bold;cursor:pointer;  text-decoration: none;color:#fff;  margin-top: -40px;}
.slidebtn-03 p .button:hover{background:#FAB32C;}


.slidebtn-03 div{float:left;width:334px;margin-left:0px;height:98px;}
.slidebtn-03 div span{float:left;width:73px;margin-left:3px;height:97px;line-height:97px;color:#e45e5f;text-align:center;font-size:96px;font-weight:bold;background:url(../images/background.png) no-repeat;overflow:hidden}
.slidebtn-03 div i{float:left;margin-left:3px;font-size:16px;color:#fff;height:97px;line-height:178px;overflow:hidden;}
.slidebtn-03 div .i{font-weight:bold;font-size:33px;line-height:166px;}


.table{float:left;width:100%;height:49px;border:1px solid #ccc;font-size:14px;line-height:49px;border-top:0px;overflow:hidden;position: relative;background:#fff;}
.table a{float:left;color:#1c76b8;}
.table .span{width:109px;font-weight:bold;height:49px;border-right:1px solid #ccc;font-szie:16px;position: absolute;left:0px;top:0px;}
.table ul{float:left;width:900px;height:auto;text-align:left;text-indent:25px;margin-left:109px;}
.table ul span{color:#ccc;margin-left:35px;}


.table1{float:left;width:100%;height:183px;padding-top:50px;}
.table1 ul{float:left;width:25%;height:183px;position:relative;}
.table1 ul span{width:217px;height:20px;background:url(../images/index/back.png) no-repeat;left: 166px;z-index: -1;top: 43px;position:absolute;}
.table1 ul li{float:left;width:100%;color:#828282;}
.table1 ul .li{line-height:35px;line-height:35px;font-size:14px;font-weight:bold;color:#333;}
.table1 ul .back1{width:101px;margin-left: 85px;height:101px;background:url(../images/index/button.png) 	0px -101px no-repeat;}
.table1 ul .back2{width:101px;margin-left: 85px;height:101px;background:url(../images/index/button.png) -101px -101px no-repeat;}
.table1 ul .back3{width:101px;margin-left: 85px;height:101px;background:url(../images/index/button.png) -202px -101px no-repeat;}
.table1 ul .back4{width:101px;margin-left: 85px;height:101px;background:url(../images/index/button.png) -303px -101px no-repeat;}
.table1 ul .back1:hover{background-position:0px 0px;cursor:pointer;}
.table1 ul .back2:hover{background-position: -101px 0px;cursor:pointer;}
.table1 ul .back3:hover{background-position: -202px 0px;cursor:pointer;}
.table1 ul .back4:hover{background-position: -303px 0px;cursor:pointer;}




.table2{float:left;width:100%;height:35px;line-height:35px;border-bottom:solid 2px #ccc;text-align:left;}
.table2 span{float:left;width:111px;height:35px;line-height:35px;border-bottom:solid 2px #1c76b8;position:relative;color:#1c76b8;font-size:16px;}


.table3{float:left;width:1078px;height:240px;border:1px solid #ccc;margin-top:23px;background:#fff;}
.table3 img{float:left;margin:20px;width:252px;height:195px;border:3px solid #ccc;}
.table3 ul{float:left;width:690px;heigght:auto;text-align:left;margin:20px 0 0 55px;}
.table3 ul li{float:left;width:100%;}
.table3 ul .li{height:35px;line-height:35px;color:#7e7e7e;font-size:14px;}
.table3 ul .li span{color:#575757;font-size:20px;}
.table3 ul .li1{border-bottom:1px dashed #ccc;height:55px;line-height:55px;}
.table3 ul .li1 span{width:33%;float:left;font-szie:14px;}
.table3 ul .li1 span i{color:#fb9209;}
.table3 ul .li2{height:55px;line-height:55px;}
.table3 ul .li2 span{width:33%;float:left;font-szie:14px;}
.table3 ul .li2 span i{color:#fb9209;}
.table3 ul .li3{height:55px;line-height:55px;}
.table3 ul .li3 span{float:left;}
.table3 ul .li3 .span{float:left;width:205px;height:10px;background:#ccc;border-radius:5px;margin: 17px 7px 0 7px;}
.table3 ul .li3 .span i{float:left;height:10px;background:#1c76b8;border-radius:5px;}
.table3 ul .li3 button{float:left;width:250px;height:43px;line-height:43px;background:#1c76b8;border:0px;color:#fff;font-size:18px;margin-left:35px;cursor:pointer;}
.table3 ul .li3 button:hover{background:#4392CC;cursor:pointer;}





.table4{float:left;width:1078px;background:#fff;height:70px;margin-top:23px;line-height:68px;border:1px solid #ccc;}
.table4 a{color:#ffb23f;font-size:14px;}
.table4 ul{float:left;width:900px;}
.table4 ul li{float:left;}
.table4 ul .li{width:130px;height:68px;line-height:68px;font-size:20px;color:#666;border-bottom:2px solid #ffb23f;}
.table4 ul .li1{height:68px;line-height:68px;font-size:14px;margin-left:15px;color:#9a9a9a;}
.table4 ul .li1 span{font-size:20px;float:left;cursor: pointer;margin-left:15px;}



.table5{float:left;width:100%;height:auto;margin-top:-10px;overflow: hidden;  padding-top: 5px;}
.table5_div{float:left;width:1120px;height:auto;}
.table5 ul{float:left;width:238px;height:auto;position:relative;border:1px solid #ccc;margin-right:40px;background:#fff; margin-top:30px;}
.table5 ul .jin{width:54px;height:56px;position:absolute;/* background:url(../images1/biao.png) -162px -1px no-repeat; */top: -10px;right: 0px;}
.table5 ul .yin{width:54px;height:56px;position:absolute;/* background:url(../images1/biao.png) -111px -1px no-repeat; */top: -10px;right: 0px;}
.table5 ul .xin{width:54px;height:56px;position:absolute;/* background:url(../images1/biao.png) -59px -1px no-repeat; */top: -10px;right: 0px;}
.table5 ul .zhun{width:54px;height:56px;position:absolute;/* background:url(../images1/biao.png) 1px 1px no-repeat; */top: -10px;right: 0px;}
.table5 ul li{float:left;width:100%;}
.table5 ul .li{float:left;width:100%;background:#fafafa;padding:10px 0 7px 0;text-indent:15px;text-align:left;fonts-zie:14px;font-weight:800;}
.table5 ul .li span{float:right;margin-right:20px;font-weight:100;}
.table5 ul li i{color:#ffb23f;font-size:18px;font-weight:100;}
.table5 ul .li1{font-size:30px;color:#ffb23f;margin:20px 0px 0px 9px;font-weight:800;}
.table5 ul .li2{height:40px;line-height:40px;color:#989898;font-size:12px;}
.table5 ul .li3{height:40px;line-height:38px;font-size:22px;}
.table5 ul .li4{background:#fafafa;padding:10px 0px 55px 0;font-weight:800;}
.table5 ul .li5{  background: #fafafa;}
.table5 ul .li5 span{float:left;width:80%;margin-left:10%;background:#eeeeee;border-radius:10px;padding:2px;}
.table5 ul .li5 span i{float:left;background:#EBC44C;height:8px;border-radius:12px;}
.table5 ul button{float:left;width:100%;height:43px;line-height:43px;border:0px;background:#ffb23f;border:0px;color:#fff;font-size:18px;cursor:pointer;margin-top: -30px;}
.table5 ul button:hover{background:#EBC44C;cursor:pointer;}


.table5_hover{float:left;width:100%;height:auto;margin-top:23px;overflow: hidden;display:none;}
.table5_hover ul{float:left;width:238px;height:auto;position:relative;border:1px solid #ccc;margin-right:40px;}
.table5_hover ul .jin{width:54px;height:56px;position:absolute;background:url(../images1/biao.png) -162px -1px no-repeat;top: -10px;right: 0px;}
.table5_hover ul .yin{width:54px;height:56px;position:absolute;background:url(../images1/biao.png) -111px -1px no-repeat;top: -10px;right: 0px;}
.table5_hover ul .xin{width:54px;height:56px;position:absolute;background:url(../images1/biao.png) -59px -1px no-repeat;top: -10px;right: 0px;}
.table5_hover ul .zhun{width:54px;height:56px;position:absolute;background:url(../images1/biao.png) 1px 1px no-repeat;top: -10px;right: 0px;}
.table5_hover ul .zhuan{width:54px;height:56px;position:absolute;background:url(../images1/biao.png) -216px 1px no-repeat;top: -10px;right: 0px;}
.table5_hover ul li{float:left;width:100%;}
.table5_hover ul .li{float:left;width:100%;background:#fafafa;padding:20px 0 10px 0;text-indent:15px;text-align:left;fonts-zie:14px;font-weight:800;}
.table5_hover ul .li span{float:right;margin-right:20px;font-weight:100;}
.table5_hover ul li i{color:#1c76b8;font-size:18px;font-weight:100;}
.table5_hover ul .li1{font-size:30px;color:#fb9209;margin:38px 0 0px 0;font-weight:800;}
.table5_hover ul .li2{height:40px;line-height:40px;color:#989898;font-size:12px;}
.table5_hover ul .li3{height:50px;line-height:38px;font-size:22px;}
.table5_hover ul .li4{background:#fafafa;padding:10px 0px 55px 0;font-weight:800;}
.table5_hover ul .li5 span{float:left;width:80%;margin-left:10%;background:#eeeeee;border-radius:10px;padding:2px;}
.table5_hover ul .li5 span i{float:left;background:#fb9209;height:8px;border-radius:12px;}
.table5_hover ul input{float:left;width:100%;height:43px;line-height:43px;border:0px;background:#1c76b8;border:0px;color:#fff;font-size:18px;cursor:pointer;}
.table5_hover ul input:hover{background:#4392CC;cursor:pointer;}




.table6{float:left;/*width:798px;*/background:#fff;margin-top:23px;border:1px solid #ccc;}
.table6 p{float:left;width:100%;height:44px;line-height:44px;border-bottom:1px solid #ccc;background:#f9f9f9;}
.table6 p a{float:right;margin-right:20px;color:#1c76b8;}
.table6 p span{float:left;width:132px;height:44px;line-height:44px;font-size:18px;cursor:pointer;}
.table6 p .span{float:left;width:132px;height:44px;line-height:44px;position: relative;background: #fff;border-top:1px solid #fc8026;}
.table6 ul{float:left;width:100%;height:270px;padding:5px 0px;overflow: hidden;}
.table6 ul li{float:left;width:359px;padding:7.8px 20px;display: initial;}
.table6 ul li img{float:left;width:113px;height:87px;}
.table6 ul li span{float:left;width:213px;height: 87px;overflow: hidden;text-align:left;line-height:20px;margin-left:16px;}
.table6 ul li span i{float:left;width:213px;height:25px;line-height:25px;font-weight:bold;text-align:left;overflow: hidden;}
.table6 ul .li{width:358px;/*border-right:1px solid #ccc;*/}
.table6_right{float:right;width:250px;margin-top:23px;border:1px solid #ccc;background:#fff;}
.table6_right p{float:left;width:250px;border-bottom:1px solid #ccc;height:44px;line-height:44px;background:#f9f9f9;}
.table6_right p span{float:left;width:120px;border-bottom:2px solid #fb9209;height:43px;line-height:44px;background:#f9f9f9;margin-left:5px;position: relative;}
.table6_right ul{float:left;width:100%;}
.table6_right ul li{float:left;width:90%;margin-left:5%;height:35px;line-height:35px;text-align:left;}
.table6_right ul li span{float:right;}
.table6_right ul li i{float:left;width:20px;height:20px;line-height: 20px;border-radius:3px;background:#e1e1e1;text-align:center;margin: 8px 8px 0 0;}
.table6_right ul li .i1{background:#ff3232;color:#fff;}
.table6_right ul li .i2{background:#fd923f;color:#fff;}
.table6_right ul li .i3{background:#fdce3f;color:#fff;}
.table6 .ul{display: none;}
.table6 .tab_2{float:left;width:798px;height:270px;overflow: hidden;}
.table6 .tab_2 img{float:left;width:45%;margin-left:30px;}
.table6 .tab_2 .shzr{float:left;  width: 45%;  margin-left: 45px;font-size:14px;overflow: hidden;height: 270px;}
.table6 .tab_2 div{float:left;width:100%;text-align:left;line-height:34px;}
.table6 .tab_2 div a{float:left;width:60%;  display: block;}
.table6 .tab_1 .genduo{float:right;  margin-top: 35px;  margin-right: 25px;}


.table7{float:left;width:100%;border:solid 1px #ccc;text-align:left;margin-top:23px;}
.table7 p{float:left;width:100%;line-height:74px;height:74px;text-indent:20px;font-size:18px;color:#1c76b8;}
.table7 a{float:left;width:111px;border:solid 1px #ccc;text-align:left;margin:0px 0px 23px 20px;display: block;height:42px;background:url(../images/style/hezuo.jpg) no-repeat;}
.table7 .a1{background-position:-6px 0px;}
.table7 .a2{background-position:-140px 0px;}
.table7 .a3{background-position:-273px 0px;}
.table7 .a4{background-position:-411px 0px;}
.table7 .a5{background-position:-534px 0px;}
.table7 .a6{background-position:-673px 0px;}
.table7 .a7{background-position:-798px -5px;}
.table7 .a8{background-position:-935px -5px;}
.table7 .a9{background-position:-6px -66px;}
.table7 .a10{background-position:-273px -66px;}
.table7 .a11{background-position:-140px -66px;}
.table7 .a12{background-position:-273px -66px;}
.table7 .a13{background-position:-534px -66px;}
.table7 .a14{background-position:-673px -66px;}
.table7 .a15{background-position:-798px -66px;}
.table7 .a16{background-position:-935px -66px;}
.table7 i{float:left;width:100%;height:1px;}










