<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="batchJobDAO" class="com.qfw.batch.dao.impl.BatchJobDAOImpl" parent="baseDAO"></bean>
	<bean id="batchJobBS" class="com.qfw.batch.bizservice.impl.BatchJobBSImpl">
		<property name="batchJobDAO" ref="batchJobDAO"></property>
	</bean>
	<bean class="com.qfw.batch.bizservice.util.BeanContextUtil"></bean>
</beans>